@font-face {
    font-family: Futura md bt;
    src: url('fonts/futura medium bt.ttf') format('truetype');
  }

  @font-face {
    font-family: Futura mdCd bt;
    src: url('fonts/futura medium condensed bt.ttf') format('truetype');
  }